@define-function rem($val) {
    @return $val / 640 * 10 * 1rem;
}

@callFn a {
    width: 300px;
    height: rem(640);
    line-height: 100;
}


b {
    color: #fff;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

ul li {
    padding: 5px;
}
